/** ROOTS**/ 

:root {
    --header-bg-color:#fff;
    --nav-text-color: #939CAA;
    --btn-bg-color:#FCB72B;
    --btn-text-color:#FFFFFF;
    --main-bg-color: #F2F2F2;
    --main-title-color:  #495567;
    --main-text-color:  #939CAA;
    --footer-bg-color:  #333A44;
    --footer-title-color:  #FFFFFF;
    --footer-text-color:  #939CAA;;

}