/***** Button sytle start****/ 
.btn {
    padding: 14px 39px;
    margin: 0;
    border: none;
    border: 3px solid transparent;
    background-color: var(--btn-bg-color);
    font-size: 15px;
    line-height: 25px;
    color: var(--btn-text-color);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.hamburger-btn {
    display: none;
    width: 20px;
    height: 16px;
    background-image: url(/fonts/images/logo/hamburger-btn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
}

.btn:hover {
    color: var(--btn-bg-color);
    border: 3px solid var(--btn-bg-color);
    background-color: transparent;
}


/***** Button sytle end****/ 
