.btn {
    padding: 14px 39px;
    margin: 0;
    border: none;
    border: 3px solid transparent;
    background-color: var(--btn-bg-color);
    font-size: 15px;
    line-height: 25px;
    color: var(--btn-text-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}
 
 .btn:hover{
    color:var(--btn-bg-color); 
    border: 3px solid var(--btn-bg-color);
    background-color: transparent;
}



@media  only screen and (max-width:670px) {
    .site-header__wrapper .btn{
        display: none;
    }
}