/******* Header sytle start ******/


.site-header {
    margin: 0 auto;
    padding: 22px 0;
    width:1440px;
    min-height: 96px;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__links {
    display: flex;
    align-items: center;
}


/******* Header sytle end ******/

/***** Header media sart ******/ 
@media  only screen and (max-width:600px) {
    .mobile{
        display: flex;

        align-items: center;
    }
    
}


/*****Header media end *****/ 