/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/******** Site nav start  ********/ 
.site-nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 58px;
    gap: 32px;
}
.site-nav__link{
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.site-nav__list .site-nav__link:hover{
    color: var(--btn-bg-color);
}

/******** Site nav end  ********/ 